<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Lovely Todo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" >
  <div fxFlexFill
  fxLayout="row wrap"
  fxLayout.xs="column wrap"
  fxLayout.sm="column wrap"
  fxLayoutGap="15px grid">
    <div>
      <form [formGroup]="form" (ngSubmit)="addTodo()" #formDirective="ngForm" >
        <mat-card>
          <mat-card-header>
            <mat-card-title>Add Todo</mat-card-title>
            <mat-card-title>Edit Todo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput formControlName="task" placeholder="Task description" />
              <mat-hint *ngIf="taskFormControl.invalid">Enter no more than 20 characters</mat-hint>
              <mat-error *ngIf="taskFormControl.hasError('required')">Task description cannot be blank</mat-error>
            </mat-form-field>
            <br><br>
            <div>
              <label>Priority</label>
              <mat-radio-group formControlName="priority" fxLayout="column" fxLayoutGap="1vh" >
                <mat-radio-button *ngFor="let p of priorities" value="{{p}}">{{p}} &nbsp;</mat-radio-button>
              </mat-radio-group>
              <mat-hint *ngIf="taskFormControl.invalid">Select the appropriate priority level</mat-hint>
            </div>
            <br>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="tomorrow" placeholder="Due date" />
              <mat-datepicker-toggle matSuffix [for]="picker" >
                <mat-datepicker #picker></mat-datepicker>
              </mat-datepicker-toggle>
              <mat-hint *ngIf="dueDateFormControl.invalid">Please use the date picker at the right</mat-hint>
              <mat-error *ngIf="dueDateFormControl.hasError('required')">Due date cannot be blank</mat-error>
            </mat-form-field>
            <br><br>
            <div>
              <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" >Add</button>
              <button mat-raised-button color="primary" type="button" >Update</button>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card-header>Task</mat-card-header>
        <mat-card-content>
          <div *ngFor="let t of todosValue">
            <span>{{t.task}}</span><br>
            <span>{{t.priority}}</span>
            <span>{{t.dueDate | date:"dd/MM/yyyy"}}</span>
          </div>
        </mat-card-content>
      </form>
    </div>
  </div>
</div>
